{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
       

        /* pour aligner les labels et les champs de formulaire verticalement */
        form label,
        form input {
            display: flex;
            align-items: center;
        }

        /* pour donner une largeur fixe aux champs de formulaire */
        form input[type="text"],
        
        {
            width: 300px;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }

        form textarea{
            width: 300px;
            height: 300px;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;

        }

        /* pour styliser les boutons de formulaire */
        form button {
            display: block;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px;
            border: none;
            cursor: pointer;
            width: 10%;
            height: 20%;
        }
    </style>
{% endblock %}

{% block body %}

<h1>Modifier la Pizza</h1>

<form method="post">

<label for="name">Nom: </label>
<input type="text" name="name" id="name"/>

<label for="price">Prix: </label>
<input type="number" name="price" id="price" step="0.01"/>

<label for="description">Description: </label>
<textarea name="description" id="description" ></textarea>

<label for="imageUrl">Url de l'image: </label>
<input type="url" name="imageUrl" id="imageUrl"/>

<button type="submit">Modifier</button>

</form>

{% endblock %}
